{
    "external": {
        "git": {
            "user": {
                "name": "biba",
                "email": "boba@example.com"
            }
        },
        "haskell": {
            "enable": false
        }
    }
}
