[user]
    name = {{ external.git.user.name }}
    email = {{ external.git.user.email }}

[alias]
    a = add
    aa = add -A
    st = status -s
    sta = status
    l = log --oneline
    ce = config --global --edit
    cm = commit -m
    co = checkout

[core]
    editor = nvim
