# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename "${HOME}/.zshrc"
autoload -Uz compinit
compinit
# End of lines added by compinstall

{% raw %}
PROMPT="%{%F{215}%}%~%{%f%} 👉 "
{% endraw %}
for app in "${HOME}/apps/"*; do
    export PATH="${PATH}:${app}/bin"
done

alias ls='ls --color=auto'
bindkey '^R' history-incremental-search-backward

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

. "${HOME}/projects/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
. "${HOME}/projects/zsh-autosuggestions/zsh-autosuggestions.zsh"
